{% extends 'base.html' %}
{% block content %}

    <section class="login-page">
        <h2>Załóż konto</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="{{ form.first_name.name }}" placeholder="Imię"/>
            </div>
            <div class="form-group">
                <input type="text" name="{{ form.last_name.name }}" placeholder="Nazwisko"/>
            </div>
            <div class="form-group">
                <input type="email" name="{{ form.email.name }}" placeholder="Email"/>
                {% if form.email.errors %}
                    <span class="error">{{ form.email.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" name="{{ form.password1.name }}" placeholder="Hasło"/>
                {% if form.password1.errors %}
                    <span class="error">{{ form.password1.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" name="{{ form.password2.name }}" placeholder="Powtórz hasło"/>
                {% if form.password2.errors %}
                    <span class="error">{{ form.password2.errors.as_text }}</span>
                {% endif %}

            </div>

            <div class="form-group form-group--buttons">
                <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>

{% endblock %}
